<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://ted.sg"><em>Natif</em></a> is an
  <a href="http://ted.sg">app</a> and
  <a href="http://ted.sg">discovery tool</a>
  to teach link tourists to locals
  <a href="http://ted.sg">natif</a>.
  This is the sample application
</p>