<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on your travels
  <a href="http://ted.sg">here</a>.
  To get help on this sample app, see the
  <a href="http://ted.sg"><em>help section</em>
  </a>.
</p>